.slideshow {
  position: relative;
  width: calc(100% - 20px);
  height: auto;
}

.img {
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.desc {
  padding: 5px 10px;
  color: var(--color-text-light);
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 400;
}

.gradient-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 4.25px);
  z-index: 10;
  border-radius: 20px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    13deg,
    rgba(0, 0, 0, 0.9473039215686274) 0%,
    rgba(5, 5, 6, 0.9220938375350141) 6%,
    rgba(0, 212, 255, 0) 46%
  );
}
