.appbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: auto !important;
}

.content-wrapper {
  max-width: 1240px;
  padding: 0 20px;
  position: relative;
  width: calc(100% - 20px);
}

.logo {
  width: auto;
  height: 100px;
  /* margin-left: 10px; */
}

.title {
  /* font-weight: 500; */
  font-weight: bold;
  font-size: 22px;
}

.menu-btn {
  width: 40px;
  height: 40px;
  margin-right: 16px;
  margin-top: 31px;
  color: var(--color-text-dark);
}

@media screen and (width > 900px) {
  .menu-btn {
    display: none;
  }
}