.appbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: auto !important;
  padding: 30px 0px !important;
}

.content-wrapper {
  max-width: 1240px;
  padding: 0 20px;
  position: relative;
  width: calc(100% - 20px);
}

.logo {
  width: auto;
  height: 100px;
}

.title {
  font-weight: bold;
  font-size: 22px;
}

.menu-btn {
  width: 40px;
  height: 40px;
  margin-right: 16px;
  margin-top: 31px;
  color: var(--color-text-dark);
}

.nav-btns {
  padding-top: 6px;
}

@media screen and (width > 899px) {
  .menu-btn {
    display: none;
  }
}

@media screen and (width < 900px) {
  .appbar {
    padding: 15px 0px !important;
  }

  .nav-btns {
    display: none;
  }
}
