:root {
  --color-white: #fff;

  --color-purple-dark-900: #33186b;
  --color-purple-dark-800: #3d1f80;
  --color-purple-dark-700: #491fa3;
  --color-purple-dark-600: #4d0fce;
  --color-purple-dark-500: #4d0fce;
  --color-purple-dark-400: #6b32e6;
  --color-purple-dark-300: #7537f6;
  --color-purple-dark-200: #7d53d8;
  --color-purple-dark-100: #a880ff;

  --color-purple-light-900: #271d3d;
  --color-purple-light-800: #3e305d;
  --color-purple-light-700: #413972;
  --color-purple-light-600: #69619a;
  --color-purple-light-500: rgb(111, 92, 155);
  --color-purple-light-400: #716b95;
  --color-purple-light-300: rgb(162, 145, 202);
  --color-purple-light-200: rgb(203, 190, 231);
  --color-purple-light-100: #f8f5ff;

  /* text */
  --color-text-dark: var(--color-purple-light-700);
  --color-text-light: var(--color-white);
  --color-text-purple: var(--color-purple-dark-500);

  /* background */
  --color-bg-purple-light: var(--color-purple-light-100);
  --color-bg-purple-dark: var(--color-purple-dark-300);

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--color-text-dark);
  background-color: white;
  min-height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.content-wrapper {
  max-width: 1240px;
  position: relative;
  width: calc(100% - 20px);
  margin: 0 auto;
}