.main {
  min-height: 100vh;
}

.main-circle {
  position: absolute;
  top: calc(100vh - 250px);
  left: -100px;
  z-index: -10;
}

.circle {
  position: absolute;
  top: -10%;
  right: -30%;
  z-index: -10;
}

@media screen and (width < 900px) {
  .circle {
    display: none;
  }
}