.list-btn {
  width: 100%;
}

.list-btn:hover {
  background-color: #f8f5ff;
}

.list-btn:active {
  background-color: var(--color-purple-light-500);
}

.list-icon svg {
  color: var(--color-purple-light-500);
}
