.modal {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  overflow-x:hidden;
  z-index: 10;
}

.align-item-center {
  align-items: center !important;
}

.card {
  background-color: white;
  height: max-content;
  outline: none;
  padding: 40px 30px;
  border-radius: 20px;
  position: relative;
  margin: 20px 0;
  max-width: 600px;
  width: 100vw;
  overflow-x: hidden;
}

@media screen and (width < 600px) {
  .card {
    width: calc(100vw - 20px);
  }
}

.title {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.cancel {
  position: absolute;
  top: 15px;
  right: 15px;
}

.cancel svg {
  color: var(--color-text-dark);
}

.submit-btn {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}

.remove-btn {
  width: 40px;
  height: 40px;
}

.remove-btn svg {
  color: rgb(209, 28, 28);
}

.add-btn svg {
  color: var(--color-text-dark);
}