.footer-container {
  min-height: 65px;
  width: 100%;
  background-color: #12084f;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text {
  color: white;
}

.icon {
  color: white;
  margin-right: 5px;
}

.dot {
  padding: 0 10px;
  color: white;
}

@media screen and (width < 600px) {
  .dot {
    display: none;
  }
}

.email {
  display: flex;
}

.margin-y-10 {
  margin: 10px 0;
}
