.container {
  width: 100%;
}

.align-left {
  text-align: left;
}

.heading {
  color: var(--color-purple-light-400);
  font-size: 0.822rem;
  letter-spacing: 0.1em;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: 600;
}

.about {
  color: var(--color-text-dark);
}