.about-section {
  padding: 160px 0;
}

.container {
  width: 100%;
  position: relative;
}

.align-left {
  text-align: left;
}

.heading {
  color: var(--color-purple-light-400);
  font-size: 0.822rem;
  letter-spacing: 0.1em;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: 600;
}

.about {
  color: var(--color-text-dark);
  font-size: 18px;
  line-height: 1.8;
  font-weight: 600;
}

.logo {
  max-width: 300px;
  width: 60%;
  height: auto;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (width < 900px) {
  .about-section{
    padding: 100px 0;
  }
}

@media screen and (width < 600px) {
  .logo-container {
    width: 80%;
  }
}

.title {
  font-size: 2.6rem;
  line-height: 1.1;
  font-weight: 700;
}
