.vision {
  color: var(--color-text-dark);
  font-size: 1.7rem;
  font-weight: 900;
}

.vision span {
  color: var(--color-text-purple);
}

@media only screen and (min-width: 786px) {
  .vision {
    font-size: 3rem;
    font-weight: 800;
  }
}

.container {
  width: 100%;
}

.hero-circle {
  position: absolute;
  z-index: -10;
}

@media screen and (width > 900px) {
  .hero-circle {
    display: none;
  }
}

.slideshow-container {
  display: flex;
  justify-content: center;
  align-items: center;
}