.main-container {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 100px;
  min-height: 100vh;
}

.title {
  font-size: 0.922rem;
  letter-spacing: 0.1em;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

.type-btn {
  width: 150px;
}

.stack {
  margin-top: 30px;
}
